@model IEnumerable<Delivery.Models.Order>

<!doctype html>
<html>
<head>
    <title>История</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>История</h2>
    <table class="table">
     <tr><th>Номер Заказа</th><th>Пользователь</th><th>Стоимость</th><th>Метод оплаты</th><th>Статус</th><th>Товары</th><th>Дата изменения</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Email</td>
            <td>@item.Price</td>
            <td>@item.Method</td>
            @if(@item.Status == "Принят")
            {
                <td style="color: green;">@item.Status</td>
            }
            @if(@item.Status == "Доставлен")
            {
                <td>@item.Status</td>
            }
            @if(@item.Status == "В пути")
            {
                <td style="color: green;">@item.Status</td>
            }
            @if(@item.Status == "Отменён")
            {
                <td style="color: rgb(128, 0, 0);">@item.Status</td>
            }
            <td>@item.Products</td>
            <td>@item.Date</td>
        </tr>
    }
</table>
</body>
</html>
